<!DOCTYPE html>
<html>
<head>
  <title>Students and Locations</title>
</head>
<body>
<!--  <h1>Students and their Campus Locations</h1>
 <form action='/students' method='GET'>
  <p>Select Campus:</p>
  <select name="campusLocation">
    <option value="SD">San Diego</option>
    <option value="NYC">New York City</option>
    <option value="CHI">Chicago</option>
    <option value="SEA">Seattle</option>
    <option value="SF">San Francisco</option>
  </select>
  <br>
  <button type="submit">View</button>
</form>
-->
<h1>Delete a student!</h1>
  <form action="/students/locations" method="POST">
    <input type="text" name="name" placeholder="Name">
    <button type="submit">Delete</button>
  </form>
 <ul>
  <% @students.each do |student| %>
  <li><%= student['name'] %>, <%= student['age'] %>, <%= student['campus'] %></li>
  <% end %>
 </ul>



</body>
</html>