<!DOCTYPE html>
<html>
<head>
  <title>View Students by Campus Location</title>
</head>
<body>
<h1>View Students by Campus Location</h1>
<p>Use the selector below to display students based on their campus location</p>
<form action='/campusLocation' method='GET'>
  <p>Select Campus:</p>
  <select name="campusLocation">
    <option value="SD">San Diego</option>
    <option value="NYC">New York City</option>
    <option value="CHI">Chicago</option>
    <option value="SEA">Seattle</option>
    <option value="SF">San Francisco</option>
  </select>
  <br>
  <button type="submit">View</button>
</form>

</body>
</html>