section#contact-info {
  font-size:.8em;
}

section.job {
  background-color:#e9e5dc;
  border-radius:10px;
  margin-top:5px;
  margin-bottom:5px;
  padding:10px;
}

ul.accomplishment-list {
  font-size:.8em;
}

ul > :first-child {
  color:red;
}

section h3 {
  background-color:purple;
}
